.cold {
    background-color: skyblue;
}

.warm {
    background-color: tomato;
}

/* Base style from w3 schools */
/*
table, td, th {
    border: 1px solid 
}
google w3 schools table styles and add one
*/
